<div class="summary-title">
  <h1>
    <%= @system.name %> Summary Screen
  </h1>
</div>

<div class="summary-totals">
  <h2>
    Treasury: <%= @empire.money %>
    Granary: <%= @empire.food %>
    Research: <%= @empire.science %>
  </h2>
</div>
